@model SprayConfigurationCompetencies

<form asp-action="DeleteManufacturer" role="form">
    @Html.Partial("_ModalHeader", new ModalHeader { Heading = "Delete Competencie" })
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.EmployeeId)

    <div class="modal-body form-horizontal">
        Are you want to delete?
    </div>
    @Html.Partial("_ModalFooter", new ModalFooter { SubmitButtonText = "Delete" })
</form>

