@using WebPortal.App_Code;

@{
    ViewData["Title"] = "Home Page";
}

    <div class="demo-section k-content" style="text-align: center;">
        <h4>Pick a date</h4>
        <div id="calendar" style="width: 100%; height: 100%; font-size:x-large"></div>
    </div>

<div id="window">
    Start Time <input id="startTime" value="8:00 am" title="startTime" style="width: 100%" />
    End Time <input id="endTime" value="5:00 pm" title="endTime" style="width: 100%" />
    Break (min) <input id="break" value="45" title="break" style="width: 100%" />
    Hours Worked <input id="hoursWorked" value="8.00" title="hoursWorked" style="width: 100%" disabled="disabled" />
    <input id="submit" value="Submit" title="submit" style="width: 100%" />
</div>

<style>
    #submit {
        margin: 10px 0px 0px 0px;
    }
</style>

    @section scripts{
        <script>

            @{
                var email = new EmailClass();
            }

            $(document).ready(function () {
                $("#window").kendoWindow({
                    width: "90%",
                    title: "Time Sheet Entry",
                    visible: false,
                    actions: ["Close"]
                });
                $("#calendar").kendoCalendar(
                    {
                        format: "dd/MM/yyyy",
                        change: OnCalandarChange
                    });
                $("#startTime").kendoTimePicker({ interval: 15, change: CalculateHoursWorked });
                $("#endTime").kendoTimePicker({ interval: 15, change: CalculateHoursWorked });
                $("#break").kendoNumericTextBox({ change: CalculateHoursWorked });
                $("#hoursWorked").kendoNumericTextBox();
                $("#submit").kendoButton({ click: Submit });
            });

            function OnCalandarChange() {
                $("#startTime").data("kendoTimePicker").value("8:00 am");
                $("#endTime").data("kendoTimePicker").value("5:00 pm");
                CalculateHoursWorked();

                $("#window").data("kendoWindow").open().center();
            }

            function CalculateHoursWorked() {
                var startTime = $("#startTime").data("kendoTimePicker").value();           
                var endTime = $("#endTime").data("kendoTimePicker").value();
                var breakTime = $("#break").data("kendoNumericTextBox").value();

                var hours = (Math.abs(endTime - startTime) / 36e5) - (breakTime / 60);
                $("#hoursWorked").data("kendoNumericTextBox").value(hours);
            }

            function Submit() {
                $("#window").data("kendoWindow").close();
            }

        </script>
    }

