@model PesticideApplicationLines
@using WebPortal.Models

<form asp-action="EditLineContinue" role="form">
    <div class="modal-content modal-dialog modal-md">
        @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Edit Product" })
        <div class="modal-body form-horizontal">
            <div class="row">
                @Html.HiddenFor(x => x.HeaderJson)
                @Html.HiddenFor(x => x.Id)
                <div class="form-group">
                    <label class="col-lg-3 col-sm-3 control-label">Product Groups</label>
                    <div class="col-lg-6">
                        <select id="uiProductGroups" asp-items="ViewBag.ProductGroupList" class="form-control" onchange="OnProductGroupChangeEdit()" style="width:100%">
                            <option>All</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Product" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <select id="uiProducts" asp-for="Product" asp-items="ViewBag.Products" class="form-control" style="width:100%">
                            <option>Please select</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ApplicationRate" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <select asp-for="ApplicationRate" asp-items="@Model.RateUOMOption" class="form-control">
                            <option>Please select</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="Quantity" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
    </div>
</form>

<script>
    $(document).ready(function () {

        //wire focus of all numerictextbox widgets on the page
        $("input[type=text]").on("focus", function () {
            var input = $(this);
            clearTimeout(input.data("selectTimeId")); //stop started time out if any

            var selectTimeId = setTimeout(function () {
                input.select();
                // To make this work on iOS, too, replace the above line with the following one. Discussed in https://stackoverflow.com/q/3272089
                // input[0].setSelectionRange(0, 9999);
            });

            input.data("selectTimeId", selectTimeId);
        }).blur(function (e) {
            clearTimeout($(this).data("selectTimeId")); //stop started timeout
        });

        $("#uiProductGroups").kendoDropDownList({
            suggest: false,
        });

        $("#uiProducts").kendoDropDownList({
            dataValueField: "value",
            dataTextField: "text",
            suggest: false
        });
    });

    function OnProductGroupChangeEdit() {
        var productGroup = $("#uiProductGroups").data("kendoDropDownList").value();
        var products = $("#uiProducts").data("kendoDropDownList");
        var dataSource = new kendo.data.DataSource({
            data: [{ value: "", text: "Please select" }]
        });
        products.setDataSource(dataSource);
        products.select(0);

        $.ajax({
            url: "/api/Data/GetProductsByGroup/" + productGroup,
            type: 'GET',
            traditional: true,
            success: function (result) {
                for (i = 0; i < result.length; i++) {
                    products.dataSource.add({ value: result[i].id, text: result[i].name });
                }
            }
        });
    }
</script>