@model TradingEntity
@{
    ViewBag.Title = "Spraying Maintenance";
}

<h1>Spraying - Maintenance</h1>
<br />
<p><a href="../NozzleMaintenance">Nozzles</a></p>
<p><a href="../ManufacturerMaintenance">Manufacturers</a></p>
<p><a asp-action="ProductMaintenance">Products</a></p>
<p><a href="../ProductTypeMaintenance">Product Types</a></p>