@model LoginViewModel
@{
    ViewData["Title"] = "Logins";
}

<p></p>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="top-buffer"></div>
        <div class="panel panel-primary">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <section>
                    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <h4 id="loginMessage">Use a local account to log in.</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="UserName" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div id="ConfirmPasswordGroup" class="form-group" style="display:none">
                            <label asp-for="ConfirmPassword" class="col-md-2 control-label">Confirm &nbsp;</label>
                            <div class="col-md-10">
                                <input asp-for="ConfirmPassword" class="form-control" type="password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" />
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary">Log in</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

@section scripts{
    <script>

        $(document).ready(function () {
            var username = document.getElementById("UserName").value;
            if (username != "")
                passwordReset();
        });

        $("#UserName").on("blur", function () {
            passwordReset();
        });

        function passwordReset() {
            document.getElementById("ConfirmPasswordGroup").style.display = "none";
            document.getElementById("loginMessage").innerText = "Use a local account to log in.";
            document.getElementById("ConfirmPassword").value = "";
            var username = document.getElementById("UserName").value;

            $.ajax({
                url: "/api/Data/GetPasswordReset",
                data: JSON.stringify(username),
                type: 'POST',
                traditional: true,
                contentType: 'application/json',
                success: function (result) {
                    if (result) {
                        document.getElementById("ConfirmPasswordGroup").style.display = "";
                        document.getElementById("loginMessage").innerText = "Set password to log in.";
                    }
                }
            });
        }

    </script>
    }