@model ResetPassword
@{
    ViewData["Title"] = "Reset Password";
}

<p></p>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="top-buffer"></div>
        <div class="panel panel-primary">
            <div class="panel-heading">Reset Password</div>
            <div class="panel-body">
                <section>
                    <form asp-controller="Account" asp-action="SendPasswordResetLink" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <h4 id="Message">Enter User Name For Reset Link</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="UserName" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button id="sendButton" class="k-button k-primary" type="submit">Send</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

@section scripts{

<script>

    $(document).ready(function () {
        $("#sendButton").on("click", function () {
            var username = document.getElementById("UserName").value;

            if (username != null && username != "")
                alert("Reset email has been sent");
        });
    });

</script>
}